{{ ansible_managed | comment }}

{% if alertmanager_config_global | length > 0 -%}
global:
{{ alertmanager_config_global | to_nice_yaml(indent=2) | indent(2, true) }}
{%- endif %}

{% if alertmanager_config_templates | length > 0 -%}
# Files from which custom notification template definitions are read.
# The last component may use a wildcard matcher, e.g. 'templates/*.tmpl'.
templates:
{{ alertmanager_config_templates | to_nice_yaml(indent=2) | indent(2, true) }}
{%- endif %}

{% if alertmanager_config_route | length > 0 -%}
# The root route with all parameters, which are inherited by the child
# routes if they are not overwritten.
route:
{{ alertmanager_config_route | to_nice_yaml(indent=2) | indent(2, true) }}
{%- endif %}

{% if alertmanager_config_receivers | length > 0 -%}
# A list of notification receivers.
receivers:
{{ alertmanager_config_receivers | to_nice_yaml(indent=2) | indent(2, true) }}
{%- endif %}

{% if alertmanager_config_inhibit_rules | length > 0 -%}
# A list of inhibition rules.
inhibit_rules:
{{ alertmanager_config_inhibit_rules | to_nice_yaml(indent=2) | indent(2, true) }}
{%- endif %}
